.bigCounter {
    text-align: center;
    background-color: #24292e;

}

.bigCounter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background-color: #24292e;
    color: rgb(176, 135, 32);
    padding: 10px;
    margin: 3%;
}